{% extends 'base.html.twig' %}

{% block title %}New Modulo{% endblock %}

{% block body %}
    <h1>Create new Modulo</h1>

    {{ include('modulo/_form.html.twig') }}

    <a href="{{ path('modulo_index') }}">back to list</a>
{% endblock %}
