<form action="#" method="post">
 <input type="hidden" value="2" name="chkStatus">
<div class="row">
                    
    <div class="col-sm-12 col-md-9">
        <small class="text-muted">Observación</small>
        <textarea name="txtObservacion" cols="10" rows="3" class="form-control"></textarea>
    </div>
</div>

<div class="col-sm-12 col-md-12">
    <button class="btn btn-primary">Aceptar</button>
</div>
</form>
