<select name="cboComuna" class="form-control cboComuna"  onchange="javascript:getComuna(this.value)" required>
    <option></option>
    {% for comuna in comunas %}
    <option value="{{comuna.id}}" 
    {% if  comuna.id==comuna_def %}
        selected
    {% endif %}
    >{{comuna.nombre}}</option>
    {% endfor %}
</select>