<p align="justify">El presente contrato se otorga para ambas partes, con id&eacute;ntico tenor y validez, quedando una copia en 
    poder de cada una de las partes.</p>

<table width="100%">
    <tr><td width="50%" align="center"><img src="{{url_web}}/build/img/firma_contrato.jpg"></td><td></td></tr>

    <tr>
        <td><p align="center"><strong>ESTUDIO JURIDICO ALFARO Y MADARIAGA</strong></p>
            <p align="center"><strong>R.U.T.: 76.638.999-6</strong></p>            </td>
            <td><p align="center"><strong>{{contrato.nombre|special_chars|raw}}</strong></p>
                <p align="center"><strong>RUT: {{contrato.rut}}</strong></p>
                </td>

    </tr>
</table>