<form method="post" action="{{ path('estrategia_juridica_delete', {'id': estrategia_juridica.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estrategia_juridica.id) }}">
    <button class="btn">Delete</button>
</form>
