
<option value='' selected>Seleccione Servicio</option>
{% for materia_estrategia in materia_estrategias %}
<option value="{{ materia_estrategia.id }}">{{ materia_estrategia.estrategiaJuridica.nombre }}</option>
{% endfor %}
