{% extends 'base.html.twig' %}

{% block title %}New EstrategiaJuridica{% endblock %}

{% block body %}
    <h1>Create new EstrategiaJuridica</h1>

    {{ include('estrategia_juridica/_form.html.twig') }}

    <a href="{{ path('estrategia_juridica_index') }}">back to list</a>
{% endblock %}
