{% extends 'base.html.twig' %}

{% block title %}New PagoTipo{% endblock %}

{% block body %}
    <h1>Create new PagoTipo</h1>

    {{ include('pago_tipo/_form.html.twig') }}

    <a href="{{ path('pago_tipo_index') }}">back to list</a>
{% endblock %}
