{% extends 'base.html.twig' %}

{% block title %}{{pagina}}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <form action="" method="post">
            
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <small class="text_mute">Dias Morosidad Max:</small>
                        <input type="text" class="form-control" id="txtDiasMorosidad" name="txtDiasMorosidad" value="{{morosidad}}">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" >Guardar </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
