{% extends 'base.html.twig' %}

{% block title %}New UsuarioTipo{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            {{ include('usuario_tipo/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
