<form method="post" action="{{ path('usuario_no_disponible_delete', {'id': usuario_no_disponible.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario_no_disponible.id) }}">
    <button class="btn">Delete</button>
</form>
