{% extends 'base.html.twig' %}

{% block title %}New UsuarioNoDisponible{% endblock %}

{% block body %}
    <h1>Create new UsuarioNoDisponible</h1>

    {{ include('usuario_no_disponible/_form.html.twig') }}

    <a href="{{ path('usuario_no_disponible_index') }}">back to list</a>
{% endblock %}
