<div class="card">
        <div class="card-header">
            Filtro
        </div>
        <div class="card-body">
            
            <div class="row">
                <div class="col-sm-12 col-md-3">
                <label>Compañia</label>
                    <select name="bCompania" class="form-control">
                        <option value="0">Todos</option>
                        {% for compania in companias %}
                            <option value="{{compania.id}}"
                            {% if bCompania==compania.id %}
                                selected
                            {% endif %}
                            >{{compania.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-sm-12 col-md-2">
                <label>AgendaId/Folio</label>
                        <input type="text" class="form-control bFolio" name="bFolio"  placeholder="" value="{{bFolio}}">
                </div>
                 <div class="col-sm-12 col-md-2">
                 <label>Nombre/Teléfono</label>
                        <input type="text" class="form-control bFiltro" name="bFiltro" placeholder="" value="">
                </div>
                 {% if TipoFiltro=='pagoResumen' %}
                <div class="col-sm-12 col-md-2">
                    <label>TipoFecha</label>
                    <select name="bTipofecha" class="form-control">                        
                        <option value="0" {% if tipoFecha==0 %}
                            selected
                        {% endif %}>Fecha Registro</option>
                        <option value="1" {% if tipoFecha==1 %}
                        selected
                        {% endif %}>Fecha Pago</option>
                    </select>
                </div>
                
                <div class="col-sm-12 col-md-2">
                    <label>RangoFecha</label>
                    <input type="text" class="form-control" name="bFecha" id="bFecha"  value="">
                </div>
                {% else %}
                <div class="col-sm-12 col-md-4">
                    <label>RangoFecha</label>
                    <input type="text" class="form-control" name="bFecha" id="bFecha"  value="">
                </div>
                {% endif %}
                
                <div class="col-sm-12 col-md-1">
                    <button class="btn btn-primary" style="margin-top: 30px;"><i class="fas fa-search"></i></button>
                </div>
           
            </div>
            
        </div>  
        
    </div>