{% extends 'base.html.twig' %}

{% block title %}New UsuarioCuenta{% endblock %}

{% block body %}
    <h1>Create new UsuarioCuenta</h1>

    {{ include('usuario_cuenta/_form.html.twig') }}

    <a href="{{ path('usuario_cuenta_index') }}">back to list</a>
{% endblock %}
