{% extends 'base.html.twig' %}

{% block title %}Editar Lote{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12  col-md-8">

        <div class="card">
            <div class="card-header">
                <h1>Folio: {{contrato.id}}</h1>
            </div>
            <div class="card-body table-responsive pad">
                <form action="{{path('cobranza_lote',{'id':contrato.id}) }}" method="POST">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <small class="text-muted">Lote</small><br>
                            <select name="cboLotes" id="" class="form-control lotes">
                                {% for lote in lotes %}
                                    <option value="{{lote.id}}"
                                    {% if lote.id == contrato.idLote.id %}
                                        selected
                                    {% endif %}
                                    >{{lote.nombre}}</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <small class="text-muted">Cobrador</small><br>
                            <div class="asociado"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <button class="btn btn-primary">Modificar</button>
                            
                        </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        cargarNombre();

    });

    $(".lotes").on('change',function(){
        cargarNombre();
    });


    function cargarNombre(){
         $.ajax({
            url:"/cobranza/"+$(".lotes").val()+"/cobrador",
            type: "post",
            dataType: "html",
            cache: false,
            contentType: false,
            processData: false,
            async: true,
            beforeSend: function(){
                //$("#status").html(' <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>');
                
            },
            success:function(data){
                console.log(data);
                data_array= JSON.parse(data);
                console.log(data_array);
                $(".asociado").html(data_array['nombre']);
                //$("#contrato").html("");
            }});
    }
</script>
{% endblock %}
