{% extends 'base.html.twig' %}

{% block title %}Edit Vencimiento{% endblock %}

{% block body %}
    <h1>Edit Vencimiento</h1>

    {{ include('vencimiento/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vencimiento_index') }}">back to list</a>

    {{ include('vencimiento/_delete_form.html.twig') }}
{% endblock %}
