{% extends 'base.html.twig' %}

{% block title %}New Vencimiento{% endblock %}

{% block body %}
    <h1>Create new Vencimiento</h1>

    {{ include('vencimiento/_form.html.twig') }}

    <a href="{{ path('vencimiento_index') }}">back to list</a>
{% endblock %}
