{% extends 'base.html.twig' %}

{% block title %}Edit AgendaSubStatus{% endblock %}

{% block body %}
    <h1>Edit AgendaSubStatus</h1>

    {{ include('agenda_sub_status/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('agenda_sub_status_index') }}">back to list</a>

    {{ include('agenda_sub_status/_delete_form.html.twig') }}
{% endblock %}
