{% extends 'base.html.twig' %}

{% block title %}Nueva empresa{% endblock %}

{% block body %}
    
<div class="card">
    
    <div class="card-body">

    {{ include('empresa/_form.html.twig') }}


    </div>
</div>
{% endblock %}
