{% extends 'base.html.twig' %}

{% block title %}Nueva Acción{% endblock %}

{% block body %}
    <div class="card">
    
        <div class="card-body">
            {{ include('accion/_form.html.twig') }}
        </div>
    </div>
    
{% endblock %}
