{% extends 'base.html.twig' %}

{% block title %}New CobranzaFuncion{% endblock %}

{% block body %}
    <h1>Create new CobranzaFuncion</h1>

    {{ include('cobranza_funcion/_form.html.twig') }}

    <a href="{{ path('cobranza_funcion_index') }}">back to list</a>
{% endblock %}
