{% extends 'base.html.twig' %}

{% block title %}Hello MisDatosController!{% endblock %}

{% block body %}

<br>
<br>

<form>
  <div class="form-group">
    <label for="inputNombre">Nombre</label>
    <input type="text" class="form-control" id="inputNombre" aria-describedby="nombreHelp" value="{{misdatos.nombre}}">
    
  </div>
  <div class="form-group">
    <label for="inputCorreo">Correo</label>
    <input type="email" class="form-control" id="inputCorreo" aria-describedby="correoHelp" value="{{misdatos.correo}}">
    <small id="correoHelp" class="form-text text-muted">El correo servirá para envio de alertas!</small>
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

