<form method="post" action="{{ path('privilegio_tipousuario_delete', {'id': privilegio_tipousuario.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ privilegio_tipousuario.id) }}">
    <button class="btn">Delete</button>
</form>
