{% extends 'base.html.twig' %}

{% block title %}New PrivilegioTipousuario{% endblock %}

{% block body %}
    <h1>Create new PrivilegioTipousuario</h1>

    {{ include('privilegio_tipousuario/_form.html.twig') }}

    <a href="{{ path('privilegio_tipousuario_index') }}">back to list</a>
{% endblock %}
