{% extends 'base.html.twig' %}

{% block title %}Edit Cuenta{% endblock %}

{% block body %}
    <h1>Edit Cuenta</h1>

    {{ include('cuenta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cuenta_index') }}">back to list</a>

    {{ include('cuenta/_delete_form.html.twig') }}
{% endblock %}
