{% extends 'base.html.twig' %}

{% block title %}New Cuenta{% endblock %}

{% block body %}
    <h1>Create new Cuenta</h1>

    {{ include('cuenta/_form.html.twig') }}

    <a href="{{ path('cuenta_index') }}">back to list</a>
{% endblock %}
