
{% extends 'base.html.twig' %}

{% block title %}{{pagina|default('usuarios')}}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
    {{ include('jefe_abogados/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
