<div class="col-sm-12 col-md-3">{{mee.materiaEstrategia.materia.nombre}}</div>
<div class="col-sm-12 col-md-3"> {{ mee.materiaEstrategia.estrategiaJuridica.nombre }} </div>
        
<!--<div class="col-sm-12 col-md-3"> {{ mee.escritura.nombre}}</div>-->
        