{% set i = 1 %}
{% for mee in mees %}


<option value="{{ mee.id }}"
{% if mee.escritura.nombre == 'Otros' %}
    selected
{% endif %}
{% set i = i + 1 %}
>{{ mee.escritura.nombre }}</option>
{% endfor %}

