{% extends 'base.html.twig' %}

{% block title %}New Escritura{% endblock %}

{% block body %}
    <h1>Create new Escritura</h1>

    {{ include('escritura/_form.html.twig') }}

    <a href="{{ path('escritura_index') }}">back to list</a>
{% endblock %}
