{% extends 'base.html.twig' %}

{% block title %}New CobranzaRespuesta{% endblock %}

{% block body %}
    <h1>Create new CobranzaRespuesta</h1>

    {{ include('cobranza_respuesta/_form.html.twig') }}

    <a href="{{ path('cobranza_respuesta_index') }}">back to list</a>
{% endblock %}
