{% extends 'pdf/base.html.twig' %}
{% block body %}

<h1>{{rendicion.tipo.nombre}} N° {{rendicion.numero}} ha sido aprobada por el monto  {{rendicion.monto}}</h1>

<p>{{rendicion.observacionAprecAr}}</p>

{% endblock %}