{% extends 'pdf/base.html.twig' %}
{% block body %}

<h1>{{rendicion.tipo.nombre}} N° {{rendicion.numero}} ha sido enviado por el monto  {{rendicion.monto}}</h1>

<p>Debes esperar aprobacion de parte del Jefe de Area y del Administrador de fondos</p>

{% endblock %}