{% extends 'pdf/base.html.twig' %}
{% block body %}

<h1>Tienes un(a) {{rendicion.tipo.nombre}} N° {{rendicion.numero}} por el monto  {{rendicion.monto}} para ser aprobada</h1>

<p>Favor revisar y aceptar o rechazar segun sea el caso</p>

{% endblock %}