{% extends 'pdf/base.html.twig' %}
{% block body %}

<h1>{{rendicion.tipo.nombre}} N° {{rendicion.numero}} ha sido rendida por el monto  {{rendicion.monto}}</h1>

<p>Favor validar o rechazar seg&uacute;n sea el caso</p>

{% endblock %}