{% extends 'base.html.twig' %}

{% block title %}New Lotes{% endblock %}

{% block body %}
    <h1>Create new Lotes</h1>

    {{ include('lotes/_form.html.twig') }}

    <a href="{{ path('lotes_index') }}">back to list</a>
{% endblock %}
